<div class="basketContainer">
  <div class="basketContainerDetail">
    <div><span id="basketTotal"> Total: {{ basketService.total }} zl</span></div>
    <div><span id="basketLength"> Cats: {{ basketService.products.value.length }}</span></div>
  </div>
  <div class="basketContainerButtons">
    <app-button text="Clean" id="clearTheBasketButton" (action)="console.log('called')">
    </app-button>
    <app-button id="quickViewButton" text="Quick view" (action)="toggleQuickview()">
    </app-button>
  </div>
</div>