.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.4;
  cursor: pointer;
}

.quickviewContainer {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background: white;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  padding: 10px;
  z-index: 101;
}

h4 {
  text-align: center;
  margin: 5px 10px;
}

.quickviewProduct {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  position: relative;
  border-bottom: 1px solid lightgray;
  width: 200px;

  & > div:first-of-type {
    height: 75px;
    & img {
      object-fit: contain;
      height: 100%;
    }
  }

  & > div:nth-of-type(2) {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
  }
}

.closeIcon {
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  opacity: 0.3;
  cursor: pointer;
}

.closeIcon:hover {
  opacity: 1;
}

.closeIcon:before, .closeIcon:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: #333;
}

.closeIcon:before {
  transform: rotate(45deg);
}

.closeIcon:after {
  transform: rotate(-45deg);
}
