.productsContainer {
  display: flex;
  flex-wrap: wrap;
}

.productCard {
  padding: 10px;
  margin: 10px;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
  cursor: pointer;
  &:hover {
    box-shadow: 0 10px 15px rgb(0, 0, 0, 0.4);
  }
}
