<h2>Products</h2>
<app-product-detail [product]="product"></app-product-detail>
<div class="productsContainer">
  <div class="productCard" *ngFor="let product of products" (click)="onSelect(product)">
    <img src="{{ product.image }}">
    <h3>{{ product.name }}</h3>
    <hr>
    <div>
      <span class="productCardPropHeader">Color: </span>
      <span class="productCardPropValue">{{ product.size }}</span>
    </div>
    <div>
      <span class="productCardPropHeader">Price </span>
      <span class="productCardPropValue">{{ product.price }}</span> zl
    </div>
    <hr>
    <div class="productCardFooter">
      <app-button text="Add to basket" (action)="addProduct(product); $event.stopPropagation()">
      </app-button>
    </div>
  </div>
</div>